body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #e5e5e5;
    height: 50px;
    width: 100%;

}

.navbar img {
    width: 150px;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    float: right;
    margin: 0;
}

li {
    display: inline;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: #353535;
    display: inline-block;
    padding-top: 15px;
}

nav a:hover {
    color: #00b2b2;
}

nav a:active {
    font-weight: bold;
}

.ressourcen{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.ressourcen div{
    border: groove black;
    width: 500px;
    height: 500px;
    margin-right: 40px;
    transition: 0.5s ease;
}
.ressourcen div:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
}

.strom{
    background:url("Ressourcen/aus.jpg");
    transition: 0.5s ease;

}

.strom:hover{
    -webkit-filter: blur(5px);
    transition: 0.5s ease;
    background:url("Ressourcen/an.jpg");
}

.footer {
    position: absolute;
    width:100%;
    bottom: 0;
    align-items: flex-end;
    padding: 10px 20px;
    background: #666;
    color: white;
}

@media screen and (max-width: 700px) {
    nav {
        width: 100%;
        margin-top: -5px;
    }

    nav li {
        display: block;
        background-color: #e5e5e5;
        text-align: center;
    }
}

* {
    font-family: Montserrat, sans-serif;
}