body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    background-color: #e5e5e5;
    height: 50px;
    width: 100%;

}

.navbar img {
    width: 150px;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    float: right;
    margin: 0;
}

li {
    display: inline;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: #353535;
    display: inline-block;
    padding-top: 15px;
}

nav a:hover {
    color: #00b2b2;
}

nav a:active {
    font-weight: bold;
}

.footer {
    position: absolute;
    width:100%;
    bottom: 0;
    align-items: flex-end;
    padding: 10px 20px;
    background: #666;
    color: white;
}
/*---------------------------------------------------*/
.ressourcen{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ressourcen div{
    width: 500px;
    height: 500px;
    margin-right: 40px;
}

/**
Strombild beim drüer hovern verblassen
 */
.strombild{
    background: 50% 50% no-repeat url("../lib/aus.jpg") ;
    transition: 0.5s ease;
}

.strombild:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
    -webkit-filter: blur(5px);
    background: 50% 50% no-repeat url("../lib/an.jpg");
}

.strom{
    border:solid  black;
    transition: 0.5s ease;
    position: relative;
}

.stromtext, .strombild{
    width: 500px;
    height: 500px;
    position: absolute;
}

.stromtext {
    opacity:0;
    text-align: center;
    align-items: center;
    z-index: 1;
    bottom: 0px;
    background: hsla(0,0%,0%,0.5);
    transition: opacity 1s;
    width: 100%;
    text-align: center;
}


.strombild{
    z-index: 2;
}

.strom:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
}

.stromtext :hover {
    opacity: 1;
    background: #0b3848;
    color: blue;
}


/* --------------------------------------------------------------*/


.example {
    cursor: pointer;
    height: 500px;
    position: relative;
    overflow: hidden;
    width: 500px;
    text-align:center;
}


.example .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}
.example .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}
.example:hover .title,
.example:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

@media screen and (max-width: 700px) {
    nav {
        width: 100%;
        margin-top: -5px;
    }

    nav li {
        display: block;
        background-color: #e5e5e5;
        text-align: center;
    }
}

* {
    font-family: Montserrat, sans-serif;
}